<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prototype: 번역 도구</title>
    <div th:utext="${amznStyles}"></div>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>번역 필요 (자동 추출됨)</h2>
    <form id="translateForm">
        <div class="form-group" th:each="text: ${untranslatedText}">
            <label th:for="${'textarea_' + text.getKey()}" th:text="${text.getValue()}"></label>
            <textarea class="form-control"
                      th:name="${'textarea_' + text.getKey()}" th:id="${'textarea_' + text.getKey()}" th:text="${text.getValue()}">
            </textarea>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <h2>미리 보기</h2>
    </div>
</div>
<div class="container" th:utext="${previousContent}"></div>
<div th:utext="${amznScripts}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    function translate(evt) {
        $("#" + evt.target.id.replace("textarea_", "")).text(evt.target.value);
        console.log("You have changed " + evt.target.id);
    }

    $(document).ready(function() {
        var untranslatedTexts = /*[[${untranslatedText}]]*/;

        for (var k in untranslatedTexts) {
            $('#textarea_' + k).on("change", translate);
        }
    });

/*]]>*/
</script>
</body>
</html>
